# Asad Haroon

# Straight Line Method

In [36]:
book_value=17000
years=5
salv=2000
depc=(book_value-salv)/years
import pandas as pd
df=pd.DataFrame(columns=["Year","Computation","Depreciation Expense","Acc. Dec Expense","Book value"])
new_row = {"Year":"","Computation":"","Depreciation Expense":"","Acc. Dec Expense":"","Book value":book_value}
df=df.append(new_row,ignore_index=True)
lists=[]
acc=depc
new_book=book_value
for i in range(1,years+1):
    new_row2={"Year":i,"Computation":str(book_value-salv)+"*"+"1/"+str(years),"Depreciation Expense":depc,"Acc. Dec Expense":acc,"Book value":new_book-depc}
    df=df.append(new_row2,ignore_index=True)
    acc=acc+depc
    new_book=new_book-depc
from IPython.display import HTML
HTML(df.to_html(index=False))

# Unit of Output method

In [37]:
book_value=17000
cost=17000
salv=2000
output=100000
costpu=(cost-salv)/output
arr=[20000,30000,10000,15000,25000]
#depc=(book_value-salv)/years
import pandas as pd
df=pd.DataFrame(columns=["Year","Computation","Depreciation Expense","Acc. Dec Expense","Book value"])
new_row = {"Year":"","Computation":"","Depreciation Expense":"","Acc. Dec Expense":"","Book value":book_value}
df=df.append(new_row,ignore_index=True)
acc=0
accumulated=0
new_book=book_value
for i in range(1,years+1):
    acc=arr[i-1]*costpu
    if i==1:
        accumulated=acc
    else: accumulated+=acc
    new_row2={"Year":i,"Computation":""+str(arr[i-1])+"*"+str(costpu),"Depreciation Expense":acc,"Acc. Dec Expense":accumulated,"Book value":new_book-acc}
    df=df.append(new_row2,ignore_index=True)
    #accumulated=accumulated+acc
    new_book=new_book-acc
from IPython.display import HTML
HTML(df.to_html(index=False))